<div class="homepage_testimonials">
    <div class="container">
        <h3>{{ settings.testimonials_text}}</h3>
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item">
                
                    <img src="{{ 'homepage_testimonials_img.png' | asset_url }}" alt="" />
                    <div class="homepage_testimonials-cnt">
                        <a href="{{ settings.homepage_testimonials_link }}">
                        <h4>{{ settings.homepage_testimonials_text1 }}</h4>
                        </a>
                        <blockquote>
                            <cite>{{ settings.homepage_testimonials_text2 }}</cite>
                            <p>{{ settings.homepage_testimonials_text3 }}</p>
                        </blockquote>   
                    </div>
            </div>
            <div class="item">
                
                    <img src="{{ 'homepage_testimonials2_img.png' | asset_url }}" alt="" />
                    <div class="homepage_testimonials-cnt">
                        <a href="{{ settings.homepage_testimonials2_link }}">
                        <h4>{{ settings.homepage_testimonials2_text1 }}</h4>
                        </a>
                        <blockquote>
                            <cite>{{ settings.homepage_testimonials2_text2 }}</cite>
                            <p>{{ settings.homepage_testimonials2_text3 }}</p>
                        </blockquote>   
                    </div>
                
            </div>
            <div class="item">
                
                    <img src="{{ 'homepage_testimonials3_img.png' | asset_url }}" alt="" />
                    <div class="homepage_testimonials-cnt">
                        <a href="{{ settings.homepage_testimonials3_link }}">
                        <h4>{{ settings.homepage_testimonials3_text1 }}</h4>
                        </a>
                        <blockquote>
                            <cite>{{ settings.homepage_testimonials3_text2 }}</cite>
                            <p>{{ settings.homepage_testimonials3_text3 }}</p>
                        </blockquote>   
                    </div>
                
            </div>
        </div>
    </div>
</div>

 
