<div id="megamenu">
	
		<ul class="sf-menu megamenu_desktop visible-md visible-lg">
			<li class="megamenu_item_1">
				<a href="{{ settings.megamenu1_link }}">{{ settings.megamenu1_text }}{% if settings.megamenu1_badge and settings.megamenu1_badge != '' %}<span class="menu_badge">{{ settings.megamenu1_badge }}</span>{% endif %}</a>
			</li>

			<li class="megamenu_item_2">
				<a href="{{ settings.megamenu2_link }}">{{ settings.megamenu2_text }}{% if settings.megamenu2_badge and settings.megamenu2_badge != '' %}<span class="menu_badge">{{ settings.megamenu2_badge }}</span>{% endif %}</a>
				{% if settings.megamenu2_sub_toggle and settings.megamenu2_sub_toggle != '' %}
				<ul>
				<li>
					<div class="submenu submenu_2">
						<div class="row">
							{% for i in (1..4) %}
								{% capture linklist_iteration %}megamenu2_sub_col__{{ i }}{% endcapture %}
								{% capture linklist_name %}{{ settings[linklist_iteration] }}{% endcapture %}

								<div class="col-sm-3">
									<h4>{{ linklists[linklist_name].title }}</h4>
									<div class="border_line"></div>
									<ul>
										{% for link in linklists[linklist_name].links %}
											<li>{{ link.title | link_to: link.url }}</li>
										{% endfor %}
									</ul>
								</div>
							{% endfor %}
						</div>
						<div class="row">
							{% for i in (5..8) %}
								{% capture linklist_iteration %}megamenu2_sub_col__{{ i }}{% endcapture %}
								{% capture linklist_name %}{{ settings[linklist_iteration] }}{% endcapture %}

								<div class="col-sm-3">
									<h4>{{ linklists[linklist_name].title }}</h4>
									<div class="border_line"></div>
									<ul>
										{% for link in linklists[linklist_name].links %}
											<li>{{ link.title | link_to: link.url }}</li>
										{% endfor %}
									</ul>
								</div>
							{% endfor %}
						</div>

					</div>
				</li>
				</ul>
				{% endif %}
			</li>

			<li class="megamenu_item_3">
				<a href="{{ blogs[settings.megamenu3_blog_select].url }}">{{ settings.megamenu3_text }}{% if settings.megamenu3_badge and settings.megamenu3_badge != '' %}<span class="menu_badge">{{ settings.megamenu3_badge }}</span>{% endif %}</a>
				{% if settings.megamenu3_sub_toggle and settings.megamenu3_sub_toggle != '' %}
				<ul>
				<li>
					<div class="submenu submenu_3">
						<div class="row">
							<h4>{{ settings.megamenu3_text2 }}</h4>
							<div class="border_line"></div>
							{% for article in blogs[settings.megamenu3_blog_select].articles limit:3 %}
							<div class="col-sm-4">

								{% if article.content contains "img" %}
									{% assign articleImg = article.content | split: 'img' %}
									{% assign articleImg = article.content | split: 'src="' %}
									{% assign articleImg = articleImg[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
									{% assign articleImgAlt = article.content | split: 'alt="' %}
									{% assign articleImgAlt = articleImgAlt[1] | split: '"' | first %}
									{{ articleImg | img_tag: articleImgAlt, 'blog_img' }}
								{% endif %}

								<h5 class="blog_title"><a href="{{ article.url }}">{{ article.title | truncate:25 }}</a></h5>

								<div class="blog_content">
									{{ article.content | strip_html | truncatewords: 20 }}						
								</div>
								<span class="blog_date"><i class="material-icons-ico material-icons-schedule"></i>{{ article.published_at | date: '%d / %m / %Y' }}</span>
							</div>
							{% endfor %}
						</div>
					</div>
				</li>
				</ul>
				{% endif %}
			</li>

			<li class="megamenu_item_4">
				<a href="{{ collections[settings.megamenu4_sub_collection].url }}">{{ settings.megamenu4_text }}{% if settings.megamenu4_badge and settings.megamenu4_badge != '' %}<span class="menu_badge">{{ settings.megamenu4_badge }}</span>{% endif %}</a>
				{% if settings.megamenu4_sub_toggle and settings.megamenu4_sub_toggle != '' %}
				<ul>
				<li>
					<div class="submenu submenu_4">
						<div class="row">
							<h4>{{ settings.megamenu4_text2 }}</h4>
							<div class="border_line"></div>
							{% for product in collections[settings.megamenu4_sub_collection].products limit:2 %}
							<div class="col-sm-3">
								<div class="product_img">  
									<a href="{{ product.url | within: collection }}">
										<img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
									</a>
								</div>

								<div class="product_name">
									<a href="{{ product.url | within: collection }}">{{ product.title | truncate:50 }}</a>
								</div>

								<div class="product_price">
									{% if product.price_varies %}{% endif %}
									<span class="money">{{ product.price | money }}</span>
									{% if product.compare_at_price and product.compare_at_price > product.price %}
									<span class="money compare-at-price">{{ product.compare_at_price | money }}</span>
									{% endif %}
								</div>
							</div>
							{% endfor %}
							<div class="col-sm-5 col-sm-offset-1">
								<a href="{{ settings.sale_banner1_link }}">
									<div class="sale_wrapper">
									<img src="{{ 'sale_banner1.png' | asset_url }}" alt="" />
										<div class="sale_banner_content">
											<h3>{{ settings.sale_banner1_text1 }}</h3>
											<h5>{{ settings.sale_banner1_text2 }}</h5>
											<h5>{{ settings.sale_banner1_text3 }}</h5>
										</div>
									</div>
								</a>
								<a href="{{ settings.sale_banner2_link }}">
									<div class="sale_wrapper2">
									<img src="{{ 'sale_banner2.png' | asset_url }}" alt="" />
										<div class="sale_banner_content">
											<h3>{{ settings.sale_banner2_text1 }}</h3>
											<h5>{{ settings.sale_banner2_text2 }}</h5>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</li>
				</ul>
				{% endif %}
			</li>

			<li class="megamenu_item_5">
				<a href="{{ settings.megamenu5_link }}">{{ settings.megamenu5_text }}{% if settings.megamenu5_badge and settings.megamenu5_badge != '' %}<span class="menu_badge">{{ settings.megamenu5_badge }}</span>{% endif %}</a>
			</li>

			<li class="megamenu_item_6">
				<a href="{{ settings.megamenu6_link }}">{{ settings.megamenu6_text }}{% if settings.megamenu6_badge and settings.megamenu6_badge != '' %}<span class="menu_badge">{{ settings.megamenu6_badge }}</span>{% endif %}</a>
			</li>
		</ul>

		<div class="megamenu_mobile visible-xs visible-sm">
			<h2>{{ page_title }}<i></i></h2>
			<ul class="level_1">
				<li>
					<a href="{{ settings.megamenu1_link }}">{{ settings.megamenu1_text }}</a>
				</li>

				<li>
					<a href="{{ settings.megamenu2_link }}">{{ settings.megamenu2_text }}<i class="level_1_trigger"></i></a>

					{% if settings.megamenu2_sub_toggle and settings.megamenu2_sub_toggle != '' %}
					<ul class="level_2">
						{% for i in (1..4) %}
							{% capture linklist_iteration %}megamenu2_sub_col__{{ i }}{% endcapture %}
							{% capture linklist_name %}{{ settings[linklist_iteration] }}{% endcapture %}

							<li>
								<a href="#">{{ linklists[linklist_name].title }}<i class="level_2_trigger"></i></a>
								<ul class="level_3">
									{% for link in linklists[linklist_name].links %}
										<li>{{ link.title | link_to: link.url }}</li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>

				<li>
					<a href="{{ blogs[settings.megamenu3_blog_select].url }}">{{ settings.megamenu3_text }}</a>
				</li>

				<li>
					<a href="{{ collections[settings.megamenu4_sub_collection].url }}">{{ settings.megamenu4_text }}</a>
				</li>

				<li>
					<a href="{{ settings.megamenu5_link }}">{{ settings.megamenu5_text }}</a>
				</li>

				<li>
					<a href="{{ settings.megamenu6_link }}">{{ settings.megamenu6_text }}</a>
				</li>
			</ul>
		</div>
	
</div>